body {
    background-color: rgb(245, 245, 209) !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Kanit', sans-serif;
}