footer {
    border-top: 2px solid rgb(185, 185, 168);
    margin-top: 20px;
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(1, 90px);
        text-align: center;
        align-items: center;
        .redes {
            p {
                color: rgb(145, 145, 145);
                display: block;
            }
            .img1 {
                width: 30px;
                position: relative;
                bottom: 13px;
                border-radius: 6px;
            }
            .img2 {
                width: 30px;
                position: relative;
                bottom: 13px;
                border-radius: 6px;
            }
        }
        .derechos {
            p {
                font-size: 13px;
                color: rgb(145, 145, 145);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        width: 100%;
        position: relative;
        top: 91px;
        .grid {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: repeat(1, 60px);
            .redes {
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}