body {
        header {
            display: block;
            border-bottom: 1px rgb(194, 181, 181) solid;
        }
        a {
            .imgropita {
                height: 3em;
                width: 3em;
            }
        }
        .direcc {
            padding-bottom: 1em;
            margin: 0.3em;
            display: inline;
            text-decoration: none;
            color: black;
        
            &:hover {
                margin-left: 12px;
                margin-right: 12px;
                transition: 1.5s;
            }

            &:not(:hover) {
                margin-left: 0;
                margin-right: 0;
                transition: 1s;
            }
        }
        a {
        .ropita {
            padding-bottom: 10px;
            margin: 0.3em;
            display: inline;
        
            &:hover {
                margin-left: 12px;
                margin-right: 12px;
                transition: 1.5s;
            }

            &:not(:hover) {
                margin-left: 0;
                margin-right: 0;
                transition: 1s;
            }
        }
        }
        .gglmps {
            height: 3em;
            width: 3em;
        }
        .ropita {
            padding-bottom: 10px;
            margin: 0.3em;
            display: inline;
            text-decoration: none;
        }
}