.cboton {
        text-align: center;
            .boton {
                @extend %boton-comun;
                margin: 200px;
                border: 1px solid black;
                
                &:hover {
                    color: grey;
                    transition: 1s;
                }
                &:not(:hover) {
                    color: black;
                    transition: .5s;
                }
            }
        }