.tit {
    height: 5em;
    border-bottom: 1px rgb(194, 181, 181) solid;
    .txtit {
        text-align: center;
        padding-top: 0.7em;
        font-size: 1.7em;
    }
}

.s0 {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    position: absolute;
    right: 50%;
    border: none;
    .d1 {
        height: 325px;
        width: 180px;
        background-color: #ae887b;
        margin-top: 3em;
        margin-left: 1em;
        margin-right: 1em;
        border: 1px black solid; 
        border-radius: 1.5em;
        .ft1 {
            height: 160px;
            margin-top: 10px;
            border: 1px black solid;
            margin: auto;
            align-items: center;
            text-align: center;
        }
        .d1-0 {
            text-align: center;
            margin: auto;
            padding: 0.3em;
            
        }
    }
}

.srem {
    font-size: 15px;
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 420px;
    border: 1px solid black;
}

.s1 {
    margin-top: 450px;
    .L1 {
        display: block;
        height: 5em;
        background-color: #b85c4f;
        margin-bottom: 1em;
        margin-top: 1em;
        border: 1px solid black;

        &:hover {
            background-color: #8a514a;
            transition: 1s;
        }
        &:not(:hover) {
            background-color: #b85c4f;
            transition: .7s;
        }
        .L1-0 {
            text-decoration: none;
            font-size: 3em;
            color: #fdb975;
            text-align: center;
            margin-left: 14.3em;
        }
    }
}